<header class="p-3 text-bg-dark">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <ul ngbNav #nav="ngbNav" class="nav nav-pills col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li ngbNavItem>
          <a ngbNavLink routerLink="contacts" routerLinkActive="active" class="nav-link px-2 text-secondary">Contatos</a>
        </li>
      </ul>
      <div [ngbNavOutlet]="nav" class="mt-2"></div>
    </div>
  </div>
</header>
<div class="content" role="main">
  <!-- <app-home></app-home>
  <app-contacts></app-contacts> -->
  <router-outlet></router-outlet>
</div>